<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastrar Dependente</title>
</head>
<body>

	<form th:object="${dependente}" action="/dependente/gravar"
		method="post">

		<label>Funcionário</label> <select th:field="*{funcionario.id}">
			<option th:each="funcionario : ${funcionarios}"
				th:value="${funcionario.id}" th:text="${funcionario.nome}"></option>
		</select> <label>Nome:</label> <input th:field="*{nome}" />
		<div>
			<p th:if="${#fields.hasErrors('nome')}">Nome Obrigatório</p>
		</div>

		<label>E-mail:</label> <input th:field="*{email}" />
		<div>
			<p th:if="${#fields.hasErrors('email')}">E-mail: Obrigatório</p>
		</div>

		<button type="submit">Gravar</button>
	</form>

</body>
</html>