<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastar Funcionario</title>
</head>
<body>

	<form th:object="${funcionario}" action="/funcionario/gravar" method="post">
		
		<label>Nome:</label>
		<input th:field="*{nome}" />
		<div>
			<p th:if="${#fields.hasErrors('nome')}">Nome Obrigatório</p>
		</div>
	
		<label>E-mail:</label>
		<input th:field="*{email}" />
		<div> 
			<p th:if="${#fields.hasErrors('email')}">E-mail: Obrigatório</p>
		</div>
		
		<button type="submit">Gravar</button>
	</form>

</body>
</html>